*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root{
  font-size: 14px;

  --color-first: #FFE699;
  --color-second: #69d847;
  --color-third: #e95151;
  --color-fourth: #000000;
  --color-fifth: #FFFFFF;
  --color-sixth: #5c616b;
  --color-seventh: #406cc4;
}



body{
  background-color: var(--color-first);
}

main{
  margin: 0 auto 5em;
}

/* TITULO */
.title{
  width: 70%;
  margin: 2em 0;
  padding: 0 1em;
}
.title > h2{
  max-width: 700px;
  border-bottom: 1px solid var(--color-fourth);
}



/* CONTENEDOR GENERAL */
main{
  width: 100%;
  max-width: 920px;
  margin: auto;
}



/*MENU DE NAVEGACION*/
nav{
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: 0.3s linear;
  background: var(--color-fourth);
  color: #fafafa;
}
nav > hr {
  width: 100%;
  color: var(--color-sixth);
}
nav ul {
  width: 100%;
  margin: 2em auto;
  list-style: none;
}
nav ul li {
  padding: 10px;
}
nav ul li a {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: left;
  align-items: center;
  padding: .5em;
  color: var(--color-fifth);
  border-radius: 3px;
  text-decoration: none;
  transition:  0.3s ease all;
}
nav ul li a:hover{
  background-color: var(--color-seventh);
}
nav ul li a i{
  margin-right: .5em;
  font-size: 1.2em;
}
nav > div {
  margin-left: 0;
  transition: 0.3s ease-in-out;
  z-index: 0;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  margin: 20px;
  background: var(--color-fourth);
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}
.menu:hover {
  /* opacity: 0.5; */
  background-color: var(--color-sixth);
}
nav.active {
  left: 0;
}



/*CONTENEDOR GENERAL*/
.tab-wrapper {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
/* CONTENEDOR DE TABS */
.tabs {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 20px;
}
.tabs > button{
  max-width: 200px;
  text-transform: uppercase;
}
/* CADA TAB */
.tab {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  border: 1px solid var(--color-fourth);
}
/* TAB ACTIVO */
.tab.active {
  background-color: var(--color-seventh);
  color: var(--color-fifth);
}



/*FOOTER*/
footer{
  width: 100%;
  height: 2em;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-fourth);
}
footer *{
  color: var(--color-fifth);
  font-size: .9em;
}



/*ADAPTACIONES*/
@media screen and (min-width:720px){
  :root{
    font-size: 18px;
  }
}
